[submodule "challoc"]
	path = Bi_Directional_Search/challoc
	url = git@github.com:Timdawson264/challoc.git
[submodule "Cuckoo-hash"]
	path = Bi_Directional_Search/Cuckoo-hash
	url = git@github.com:kroki/Cuckoo-hash.git
